/*body {*/
	/*margin: 40px 10px;*/
	/*padding: 0;*/
	/*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
	/*font-size: 14px;*/
/*}*/

#calendar {
	max-width: 900px;
	margin: 0 auto;
}



#calendar {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-button{
	background: #d0af2b ;
	color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

html{
	overflow-x: hidden !important;
}

#homepage{
	margin-right: 0px !important;
	margin-left: 0px !important;
}


/*.fc-day-number{*/
	/*background: #d0af2b !important;*/
	/*color: #fff !important;*/
	/*border-radius: 3px;*/
	/*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
	/*text-decoration-line: none !important;*/

    /*font-size: 15px !important;*/
    /*padding-left: 10px !important;*/
    /*margin-right: 4px !important;*/
/*}*/

/*.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {*/
	/*padding: 0px !important;*/
/*}*/

/*.fc-day-number:hover{*/
	/*background: #776419 !important;*/
	/*color: #fff !important;*/
	/*border-radius: 3px;*/
	/*text-decoration-line: none !important;*/
/*}*/


/*a.fc-more {*/
	/*background: #d0af2b !important;*/
	/*color: #fff !important;*/
	/*border-radius: 2px;*/
	/*box-shadow: 8px 10px 9px rgba(0,0,0,0.1);*/
	/*text-decoration-line: none !important;*/
/*}*/

/*a.fc-more:hover{*/
	/*background: #776419 !important;*/
	/*color: #fff !important;*/
	/*border-radius: 2px;*/
	/*box-shadow: 8px 10px 9px rgba(0,0,0,0.1);*/
	/*text-decoration-line: none !important;*/

/*}*/